# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
._*

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.xdv
*.lof
*.lot

# Optional: editor junk
.vscode/
.idea/
